<% include ../partials/header.ejs%>
   <div class="container">
      <div class="table-responsive">          
      <table class="table table-hover">
         <thead>
            <tr>
               <th>#</th>
               <th>Firstname</th>
               <th>Lastname</th>
               <th>Email</th>
               <th>Phone Number</th>
               <th>Date</th>
            </tr>
         </thead>
         <tbody>
            <% users.forEach((user, id) => { %>
            <tr>
               <td><%= id + 1 %></td>
               <td><%= user.firstname %></td>
               <td><%= user.lastname %></td>
               <td><%= user.email %></td>
               <td><%= user.number %></td>
               <td><%= user.created.toGMTString() %></td>
            </tr>
            <% }) %>
         </tbody>
      </table>
      </div>
   </div>